.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 40px 40px;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.15) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
  z-index: -2;
}
.background-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    var(--primary) 0%,
    var(--primary-2) 100%
  );
  z-index: -3;
}
.background-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, var(--primary) 35%, transparent 100%);
  z-index: -1;
}

main {
  height: 90vh;
  width: 100vw;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  position: relative;

  .hero {
    position: absolute;
    max-width: var(--content-width);
    width: 100%;
    margin-inline: auto;
    padding-inline: var(--content-padding);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .hero-content {
      text-align: center;
      div {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1rem;
      }
      h1 {
        position: relative;
        font-size: 1.8rem;
        color: var(--text-white);
        margin-bottom: 0.5rem;
        span {
          font-size: 2rem;
          color: var(--secondary);
          rotate: -10deg;
          position: absolute;
          left: 5%;
          top: -3.2rem;
          text-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
      }
      p {
        font-size: 1rem;
        color: var(--text-white-subtitle);
        margin-bottom: 2rem;
      }
    }
  }
}

.benefits {
  width: 100%;
  max-width: var(--content-width);
  margin-inline: auto;
  padding-inline: var(--content-padding);
  .wrapper {
    position: relative;
    top: -4rem;
    border-radius: var(--border-radius-default);
    padding: 2rem;
    background: white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    div {
      display: flex;
      padding: 1rem;
      text-align: center;
      border-radius: var(--border-radius-small);
      flex-flow: column nowrap;
      align-items: center;
      &:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      svg {
        width: 3rem;
        height: 3rem;
        color: var(--primary);
      }
      p:first-of-type {
        font-size: 1.2rem;
        /* Make text gradient */
        color: var(--primary);
        margin: 1rem 0;
      }
      p:last-of-type {
        font-size: 1rem;
        color: var(--text-black);
      }
    }
  }
}

.points {
  width: 100%;
  text-align: center;
  background-image: url(/static/bg.png);
  h2 {
    background: linear-gradient(
      30deg,
      var(--primary) 0%,
      var(--secondary) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--primary);
  }
  h3 {
    color: var(--primary);
    width: 100%;
  }
  .grid {
    max-width: var(--content-width);
    margin-inline: auto;
    padding-inline: var(--content-padding);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 100vh);
    gap: 2rem;
    margin-top: 2rem;
    div {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      gap: 2rem;
      justify-content: center;
      div {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        gap: 1rem;
        align-items: start;
        border-radius: var(--border-radius-small);
        text-align: left;
        max-width: 70vw;
        svg {
          width: 3rem;
          height: 3rem;
          color: var(--primary);
        }
        img {
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          margin-inline: auto;
          border-radius: var(--border-radius-small);
          width: 70vw;
        }
        #stage {
          width: 50vw;
        }
        p {
          color: var(--text-black);
          text-align: left;
        }
      }
    }
  }
}

#riesenie {
  flex-flow: column-reverse nowrap !important;
}

#stage-wrapper {
  position: relative;
  div {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    position: absolute;
    background-color: var(--background);
    padding: 0.5rem;
    align-items: center;
    border: 1px solid #d5d6e6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  & > div:first-of-type {
    top: -2rem;
    left: -2rem;
    animation: float 1s ease-in-out infinite alternate;
  }
  & > div:last-of-type {
    bottom: -2rem;
    right: -1rem;
    animation: float 1s ease-in-out infinite alternate;
    animation-delay: 500ms;
  }
  p {
    font-size: 0.9rem;
  }
  svg {
    width: 2rem;
    height: 2rem;
    color: var(--primary);
  }
}

.legend {
  width: fit-content;
  height: fit-content;
  flex-flow: column nowrap !important;
  padding: 0 !important;
  gap: 0 !important;
  display: none !important;
  align-items: start !important;
}

.legend > div {
  position: initial !important;
  display: flex;
  flex-flow: column nowrap;
  border: none !important;
  box-shadow: none !important;
  padding: 0.5rem !important;
  gap: 0.5rem !important;
  div {
    display: flex;
    flex-flow: row nowrap;
  }
  span {
    display: block;
    border-radius: var(--border-radius-small);
    padding: 0.7rem;
  }
  span.orange {
    background-color: #e0a08a;
  }
  span.red {
    background-color: #e1616b;
  }
  span.pink {
    background-color: #e1a1eb;
  }
  span.green {
    background-color: #61e16b;
  }
}

#vKocke{
  min-height: 60vh;
  position: relative;
}

#vKocke .background{
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.25) 1px,
    transparent 1px
  ),
  linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 1px, transparent 1px);
}

#vKocke .background-2{
  background: linear-gradient(
    45deg,
    var(--accent) 0%,
    var(--secondary-2) 100%
  );
}

#vKocke .background-3{
  background: radial-gradient(circle, var(--accent) 35%, transparent 100%);
}

#vKocke > div.content{
  max-width: var(--content-width);
  margin-inline: auto;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: 2rem var(--content-padding);
  align-items: center;
      gap: 2rem;
      justify-content: center;
  h2{
    grid-column: 1 / 3;
    color: var(--text-white);
    text-align: center;
  }
  .text{
    color: var(--text-white);
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    max-width: 70vw;
    width: 100%;
    .list{
      display: flex;
      flex-flow: column nowrap;
      div{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap:1rem;
      }
    }
  }
  &>div{
    width: 100%;
    display: grid;
    place-items: center;
    gap: 2rem;
    img{
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          margin-inline: auto;
          border-radius: var(--border-radius-small);
          width: 70vw;
    }
  }
}

#reviews{

  margin-inline: auto;
  padding: 2rem var(--content-padding);
  max-width: var(--content-width);
  width: 100%;
  h2{
    background: linear-gradient( 30deg, var(--primary) 0%, var(--secondary) 100% );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--primary);
  width: fit-content;
  }
  &>div{
    &>div{
      &>div{
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
      }
      padding: 2rem 0;
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .profile{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
    div{
      display: flex;
      flex-flow: column nowrap;
      p:first-of-type{
        font-size: 1.1rem;
        color: var(--text-black);
      }
    }
    p:last-of-type{
      font-size: 0.85rem;
      color: var(--primary);
    }
    img{
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
  }
}

#faq{
  padding: 2rem var(--content-padding) 12rem;
  background: hsl(0, 0%, 95%);
  h2{
    background: linear-gradient( 30deg, var(--primary) 0%, var(--secondary) 100% );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--primary);
  width: fit-content;
  margin-inline: auto;
  }
  &>div{
    max-width: var(--content-width);
    margin-inline: auto;
    padding: 2rem;
    width: 100%;
    &>div{
      margin-top: 4rem;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 0.5rem;
      &>div{
        display: flex;
        flex-flow: column nowrap;
        gap: 0.5rem;
      }
    }
  }
}

.expand{
  display: flex;
  flex-flow: column-reverse nowrap;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0);
  transition: box-shadow 0.2s ease-in-out;
  border-radius: var(--border-radius-small);
  overflow: hidden;
}

.expand div{
  max-height: 0;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}

.expand button{
  cursor: pointer;
  border: none;
  text-align: left;
}

.expandContent{
  box-sizing: border-box !important;
  padding: 0 1rem;
  background: var(--);
  border-bottom-left-radius: var(--border-radius-small);
  overflow: hidden;
  border-bottom-right-radius: var(--border-radius-small);
}

.expandContent p{
  margin: 1rem 0;
}

.expand.open{
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.expand.open button{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: linear-gradient(
    45deg,
    var(--accent) 0%,
    var(--accent-2) 100%
  );
  color: var(--text-white);
  &:hover {
    background: linear-gradient(45deg, var(--accent-2) 0%, var(--accent) 100%);
  }
}

#contact{
  padding: 2rem var(--content-padding);
  background: white;
  h2{
    background: linear-gradient( 30deg, var(--primary) 0%, var(--secondary) 100% );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--primary);
  width: fit-content;
  text-align: left;
  margin-bottom: 1rem;
  }
  form{
    display: flex;
    flex-flow: column nowrap;
    gap: 0.25rem;
  }
  input, textarea{
    background: hsl(0, 0%, 90%);
    width: 100%;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    border-radius: var(--border-radius-small);
    color: var(--text-black);
    border: 2px solid transparent;
    letter-spacing: normal;
  }
  input:focus, textarea:focus{
    color: var(--primary);
    border: 2px solid var(--primary);
    outline: none;
  }
  &>div{
    margin-top: -8rem;
    max-width: var(--content-width);
    margin-inline: auto;
    padding: 2rem;
    width: 100%;
    background-color: white;
    border-radius: var(--border-radius-default);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    &>div{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
      fieldset{
        border: none;
      }
      textarea{
        resize: vertical;
        width: 100%;
        height: 100%;
        min-height: 200px;
        max-height: 400px;
      }
      &>div{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        flex-flow: column nowrap;
        &>div{
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          padding: 1rem 3rem;
          width: 100%;
          color: var(--primary);
          svg{
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .grid {
    div {
      display: grid !important;
      grid-template-columns: repeat(2, 1fr) !important;
      grid-template-rows: auto !important;
      div {
        display: flex !important;
        img {
          width: 500px !important;
        }
        #stage {
          width: 400px !important;
        }
      }
    }
  }
  #vKocke .content > div {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: auto !important;
    img{
      width: 500px !important;
    }
  }
  #reviews{
    &>div{
      &>div{
        grid-template-columns: repeat(3, 1fr);
      }
    }
    .profile{
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      gap: 1rem;
      div{
        display: flex;
        flex-flow: column nowrap;
        gap: 0;
        p:first-of-type{
          font-size: 1.1rem;
          color: var(--text-black);
        }
      }
      p:last-of-type{
        font-size: 0.85rem;
        color: var(--primary);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    height: 70vh;
    h1 {
      span {
        left: -3.2rem !important;
        top: -2.5rem !important;
      }
    }
  }
  .benefits {
    .wrapper {
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
    }
  }
  #stage-wrapper {
    div {
      div:last-of-type {
        bottom: 30%;
        right: -2rem;
      }
    }
  }

  .legend {
    display: flex !important;
  }
  #faq{
    &>div{
      &>div{
        gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
  #contact{
    &>div{
      &>div{
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-3px);
  }
}
