:root {
  --content-width: 1280px;
  --content-padding: 3rem;
  --border-radius-small: 0.5rem;
  --border-radius-default: 1rem;
  --border-radius-large: 1rem;

  --text: rgb(5, 1, 14);
  --text-white: #ffffff;
  --text-white-subtitle: #cccccc;
  --background: #f8f6fe;
  --primary: #404eed;
  --primary-2: #5f68ce;
  --secondary: #f382d6;
  --secondary-2: #de96cc;
  --accent: #f05ca1;
  --accent-2: #d576a3;
  --white-opaque: #ffffff80;
  --white-opaque-2: #ffffff33;

  scroll-behavior: smooth;

  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }

  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }

  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  max-width: var(--content-width);
  z-index: 50;
  width: 100%;
  padding-inline: var(--content-padding);
  height: fit-content;
  margin-inline: auto;
  .logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    text-decoration: none;
    a {
      text-decoration: none;
      color: white;
      font-size: 1.3rem;
    }
  }
}

.primary-button {
  border: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  background: linear-gradient(
    45deg,
    var(--primary) 0%,
    var(--primary-2) 100%
  );
  color: var(--text-white);
  border-radius: var(--border-radius-small);
  text-decoration: none;
  font-size: 1rem;
  &:hover {
    background: linear-gradient(45deg, var(--primary-2) 0%, var(--primary) 100%);
  }
}

.additional-button { 
  border: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  backdrop-filter: blur(10px);
  background: linear-gradient(
    45deg,
    var(--white-opaque) 0%,
    var(--white-opaque-2) 100%
  );
  color: var(--text-white);
  border-radius: var(--border-radius-small);
  text-decoration: none;
  font-size: 1rem;
  &:hover {
    color: var(--text);
    background: linear-gradient(45deg, var(--white-opaque-2) 0%, var(--white-opaque) 100%);
  }
}

.accent-button {
  border: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  background: linear-gradient(
    45deg,
    var(--accent) 0%,
    var(--accent-2) 100%
  );
  color: var(--text-white);
  border-radius: var(--border-radius-small);
  text-decoration: none;
  font-size: 1rem;
  &:hover {
    background: linear-gradient(45deg, var(--accent-2) 0%, var(--accent) 100%);
  }
}


.secondary-button {
  border: none;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  background: linear-gradient(
    45deg,
    var(--secondary) 0%,
    var(--secondary-2) 100%
  );
  color: var(--text-white);
  border-radius: var(--border-radius-small);
  text-decoration: none;
  font-size: 1rem;
  &:hover {
    background: linear-gradient(45deg, var(--secondary-2) 0%, var(--secondary) 100%);
  }
}