:root {
  --content-width: 1280px;
  --content-padding: 2rem;
  --border-radius-small: 0.5rem;
  --border-radius-default: 1rem;
  --border-radius-large: 2rem;

  --text: rgb(5, 1, 14);
  --text-white: #ffffff;
  --text-white-subtitle: #cccccc;
  --background: #f8f6fe;
  --primary: #404eed;
  --primary-2: #5f68ce;
  --secondary: #f382d6;
  --secondary-2: #de96cc;
  --accent: #f05ca1;
  --accent-2: #d576a3;
  --white-opaque: #ffffff80;
  --white-opaque-2: #ffffff33;

  scroll-behavior: smooth;

  .poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }

  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }

  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }

  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }

  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }

  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }

  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }

  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }

  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }

  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  .pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  max-width: var(--content-width);
  z-index: 50;
  width: 100%;
  padding-inline: var(--content-padding);
  height: fit-content;
  margin-inline: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  .logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    text-decoration: none;
    a {
      text-decoration: none;
      color: white;
      font-size: 1.3rem;
    }
  }
  input {
    display: none;
  }
  & > label {
    cursor: pointer;
    color: white;
  }
  label:hover {
    color: var(--secondary);
  }
  .links {
    width: 260px;
    flex-flow: column nowrap;
    justify-content: start;
    position: fixed;
    right: -260px;
    z-index: 50;
    top: 0;
    height: 100vh;
    background: white;
    padding: 2rem 2rem;
    border-top-left-radius: var(--border-radius-large);
    transition: right 0.2s ease-in-out;
    & > label {
      cursor: pointer;
      color: var(--secondary);
      margin-left: auto;
    }
    & > label:hover {
      color: var(--primary);
    }
  }
  #isNavOpen:checked ~ .links {
    right: 0;
  }
  .shadow {
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 49;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    visibility: hidden;
  }
  #isNavOpen:checked ~ .shadow {
    opacity: 1;
    visibility: visible;
  }
}

.primary-button {
  border: none;
  transition: scale 0.1s ease;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  background: linear-gradient(45deg, var(--primary) 0%, var(--primary-2) 100%);
  color: var(--text-white);
  border-radius: var(--border-radius-small);
  text-decoration: none;
  font-size: 1rem;
  &:hover {
    background: linear-gradient(
      45deg,
      var(--primary-2) 0%,
      var(--primary) 100%
    );
  }
  &:active{
    scale: 0.9;
  }
}

.additional-button {
  border: none;
  transition: scale 0.1s ease;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  backdrop-filter: blur(10px);
  background: linear-gradient(
    45deg,
    var(--white-opaque) 0%,
    var(--white-opaque-2) 100%
  );
  color: var(--text-white);
  border-radius: var(--border-radius-small);
  text-decoration: none;
  font-size: 1rem;
  &:hover {
    color: var(--text);
    background: linear-gradient(
      45deg,
      var(--white-opaque-2) 0%,
      var(--white-opaque) 100%
    );
  }
  &:active{
    scale: 0.9;
  }
}

.accent-button {
  border: none;
  transition: scale 0.1s ease;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  background: linear-gradient(45deg, var(--accent) 0%, var(--accent-2) 100%);
  color: var(--text-white);
  border-radius: var(--border-radius-small);
  text-decoration: none;
  font-size: 1rem;
  &:hover {
    background: linear-gradient(45deg, var(--accent-2) 0%, var(--accent) 100%);
  }
  &:active{
    scale: 0.9;
  }
}

.secondary-button {
  border: none;
  transition: scale 0.1s ease;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  background: linear-gradient(
    45deg,
    var(--secondary) 0%,
    var(--secondary-2) 100%
  );
  color: var(--text-white);
  border-radius: var(--border-radius-small);
  text-decoration: none;
  font-size: 1rem;
  &:hover {
    background: linear-gradient(
      45deg,
      var(--secondary-2) 0%,
      var(--secondary) 100%
    );
  }
  &:active{
    scale: 0.9;
  }
}

footer {
  background-color: rgb(30, 30, 30);
  display: flex;
  flex-flow: column nowrap;
  & > div {
    margin-inline: auto;
    width: 100%;
    max-width: var(--content-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem var(--content-padding);
    gap: 1rem;
    a.logo {
      text-decoration: none;
      color: white;
      font-size: 1.3rem;
      & + p {
        color: white;
        font-size: 1rem;
      }
    }
  }
  & > span {
    background: black;
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 0.75rem var(--content-padding);
    a {
      background: linear-gradient(
        30deg,
        var(--primary) 0%,
        var(--secondary) 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: var(--primary);
      width: fit-content;
      text-decoration: none;
    }
    a:hover {
      background: linear-gradient(
        30deg,
        var(--secondary) 0%,
        var(--primary) 100%
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color: var(--primary);
    }
  }
}
.links {
  display: flex;
  flex-flow: row wrap;
  justify-content: right;
  gap: 1rem;
  a {
    text-decoration: none;
    color: var(--secondary);
    font-size: 1rem;
  }
  a:hover {
    color: var(--primary);
  }
}

.highlight {
  border: none;
  cursor: pointer;
  background: transparent;
  color: var(--text-white);
  border-radius: var(--border-radius-small);
  padding: unset;
  &:hover {
    background: transparent;
  }
}

#backToTop{
  position: fixed;
  transition: scale 0.1s ease, right 0.5s ease;
  bottom: 1rem;
  right: -5rem;
  background: var(--primary);
  color: var(--text-white);
  border: none;
  border-radius: var(--border-radius-small);
  padding: 0.5rem 1rem;
  cursor: pointer;
  &.show{
    right: 1rem;
  }
  &:hover{
    background: var(--secondary);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  }
  svg{
    pointer-events: none;
  }
  &:active{
    scale: 0.9;
  }
}

.playAnimation{
  &>div{
    &>div:first-of-type{
      animation: shoot 0.3s linear forwards;
      animation-timing-function: ease-in-out;
    }
    &>div:nth-of-type(2){
      animation: 0.3s shoot-2 linear infinite;
      animation-timing-function: ease-out;
    }
  }
}

@media screen and (min-width: 768px) {
  :root{
    --content-padding: 4rem;
  }

  header {
    label {
      display: none;
    }
    .links {
      position: initial;
      background: none;
      height: initial;
      width: initial;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: right;
      gap: 2rem;
      a {
        text-decoration: none;
        color: var(--text-white);
        font-size: 1rem;
      }
      a:not(.highlight):hover {
        color: var(--secondary);
      }
    }
    .highlight {
      border: none;
      cursor: pointer;
      background: linear-gradient(
        45deg,
        var(--secondary) 0%,
        var(--secondary-2) 100%
      );
      color: var(--text-white);
      border-radius: var(--border-radius-small);
      padding: 0.5rem 1rem;
      &:hover {
        background: linear-gradient(
          45deg,
          var(--secondary-2) 0%,
          var(--secondary) 100%
        );
        color: black;
      }
    }
  }
  .shadow{
    display: none;
  }
}
